Click==7.0
dnspython==1.16.0
email-validator==1.0.5
fastapi==0.65.2
h11==0.8.1
httptools==0.0.13
idna==2.8
psycopg2==2.8.4
pydantic==1.2
SQLAlchemy==1.3.12
starlette==0.12.9
typing==3.7.4.1
uvicorn==0.10.8
uvloop==0.14.0
websockets==8.1
